.root {
  font-size: 14px;
}
.blog {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 40px 0;
  &Item {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 380px;
    border: 1px solid;
    &Image {
      width: 100%;
    }
    &Content {
      padding: 12px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
    &Title {
      font-size: 16px;
      margin-bottom: 8px;
    }
    &Text {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      font-size: 14px;
    }
    &Footer {
      margin-top: auto;
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
    &Link {
      width: 100px;
      height: 40px;
      border: 1px solid;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.blogListLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  border: 1px solid;
  // TOOD: 共通化したい
  &:hover {
    background-color: rgba(112, 118, 148, 0.5);
  }
}
