.root {
  font-size: 14px;
}
.blog {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 40px 0;
  @media screen and (max-width: 576px) {
    justify-content: center;
  }
}
.blogListLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
}
