.root {
  width: 1000px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.menu {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
