.root {
  width: 100%;
  font-size: 14px;
  background-color: #f2f7fa;
}
.inner {
  width: 1000px;
  margin: 0 auto;
  padding: 40px 0;
}
.profileInner {
  display: flex;
}
.title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
}
.image {
  width: 50%;
  display: flex;
  justify-content: center;
}
.profileData {
  width: 50%;
}
.textPoint {
  font-size: 20px;
}
.textMessage {
  font-size: 16px;
  line-height: 1.7;
  margin-top: 40px;
}
.snsWrap {
  margin-top: 40px;
  width: 100%;
  display: flex;
  gap: 20px;
}
