.root {
  width: 100%;
  font-size: 14px;
  background-color: #f2f7fa;
}

.inner {
  width: 1000px;
  margin: 0 auto;
  padding: 40px 0;
}

.profileInner {
  display: flex;
}
.title {
  text-align: center;
  font-size: 21px;
  margin-bottom: 8px;
}
.image {
  width: 40%;
}
.profileData {
  width: 60%;
}
.text {
  line-height: 1.7;
}
