.root {
  width: 100%;
  font-size: 14px;
  background-color: #f2f7fa;
}
.profileInner {
  display: flex;
}

.image {
  width: 50%;
  display: flex;
  justify-content: center;
}
.profileData {
  width: 50%;
  padding-top: 40px;
}
.textPoint {
  font-size: 20px;
}
.textMessage {
  font-size: 16px;
  line-height: 1.7;
  margin-top: 40px;
}
.snsWrap {
  margin-top: 40px;
  width: 100%;
  display: flex;
  gap: 20px;
}
