.root {
  font-size: 14px;
  background-color: #f2f7fa;
}
.work {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 40px 0;
}
.allViewLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
}
