.root {
  width: 100%;
  font-size: 14px;
}
.youtubeContent {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: 40px 0;
  @media screen and (max-width: 991px) {
    justify-content: center;
  }
}
.youtubeItem {
  width: 320px;
}
.linkWrap {
  width: 100%;
  display: flex;
  gap: 20px;
}
.youtubeLink {
  width: 490px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
