.root {
  width: 100%;
  font-size: 14px;
}
.inner {
  width: 1000px;
  margin: 0 auto;
  padding: 40px 0;
}
.title {
  text-align: center;
  font-size: 21px;
  margin-bottom: 8px;
}
.description {
  text-align: center;
}
.youtubeContent {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: 20px 0;
}
.youtubeItem {
  width: 320px;
}
.linkWrap {
  width: 100%;
  display: flex;
  gap: 20px;
}
.youtubeLink {
  width: 490px;
  height: 40px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: rgba(112, 118, 148, 0.5);
  }
}
